.experience {
    .card {
        margin-bottom: 20px;
        .header {
            font-weight: 900;
        }
        .content {

            .project {
                margin-bottom: 20px;
                .head {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .name {
                        font-size: 16px;
                        font-weight: 500;
                    }
                    .year {
                        font-size: 12px;
                    }
                }
                .desc {
                    margin-top: 10px;
                    font-size: 14px;
                }
                .resp {
                    font-size: 14px;
                }
                .tools {
                    margin: 20px 5px 0 5px;
                }
            }

        }
    }
}