.skills {
    display: flex;
    flex-direction: column;
    .category {
        margin: 20px 0;
        .title {
            font-size: 28px;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }
}

@media screen and (min-width: 760px) {
    .skills {
        flex-direction: row;

        .category {
            flex: 1 1 auto;
            margin: 0 20px;
        }
    }
    
}