// Theme main colors
$primaryLight: #EDEDED;
$secondaryLight: #393E46;
$textLight: #222831;
$accentLight: #F05454;
$backgroundLight: #DDDDDD;

$primaryDark: #393E46;
$secondaryDark: #393E46;
$textDark: #DDDDDD;
$accentDark: #F05454;
$backgroundDark: #222831;

// Other colors
$navy: #313552